<form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm">
  <fieldset>
    <legend>login</legend>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <p class="error" *ngIf="error">{{ error }}</p>
  </fieldset>
</form>